@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Colors */
.main-bg-color {
    background-color: #06141B;
}

.main-color {
    color: #06141B;
}

.blue-bg-color {
    background-color: #11212D;
}

.blue-color {
    color: #11212D;
}

.light-blue-bg-color {
    background-color: #253745;
}

.light-blue-color {
    color: #253745;
}

.gray-bg-color {
    background-color: #4A5C6A;
}

.gray-color {
    color: #4A5C6A;
}

.light-gray-bg-color {
    background-color: #9BABAB;
}

.light-gray-color {
    color: #9BABAB;
}

.light-bg-color {
    background-color: #CCD0CF;
}

.light-color {
    color: #CCD0CF;
}

.gr-color {
  color: #208c8c;
}

.main-btn {
  background-color: rgba(32, 140, 140, 1);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  font-size: 22px;
  transition: background-color 200ms ease-in-out;
}

.btn:hover {
  background-color: rgba(32, 140, 140, 0.4);
}
/* Fonts */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
.active {
  background-color: #4A5C6A;
  color: white;
}

.section-title {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.07em;
    color: #9BABAB;

    @media screen and (min-width: 640px) {
      font-size: 30px;
    }

    @media screen and (min-width: 726px) {
      font-size: 35px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 38px;
    }

}

.section-title span {
  color: #FF7582;
}